{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es2020": true,
    "node": true,
    "jest": true
  },
  "plugins": ["react-refresh"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:react/jsx-runtime",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.eslint.json"
  },
  "settings": {
    "react": {
      "version": "18.2"
    },
    "import/resolver": {
      "node": {
        "paths": ["."],
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".d.ts"]
      },
      "alias": {
        "map": [
          ["~", "./src"],
          ["@", "./"]
        ],
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".d.ts"]
      }
    }
  },
  "rules": {
    "react-refresh/only-export-components": "warn",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ]
  }
}
