.error-route {
  .er-card {
    text-align: center;

    .erc-icon {
      margin: 0 auto;

      > svg {
        width: 100%;
        height: 100%;
      }
    }

    .erc-title {
      margin-top: var(--mantine-spacing-lg);
    }

    .erc-link {
      margin-top: var(--mantine-spacing-md);
    }
  }
}
