.not-found-route {
  .nfr-card {
    text-align: center;

    .nfrc-icon {
      margin: 0 auto;

      > svg {
        width: 100%;
        height: 100%;
      }
    }

    .nfrc-title {
      margin-top: var(--mantine-spacing-lg);
    }

    .nfrc-link {
      margin-top: var(--mantine-spacing-md);
    }
  }
}
