.auth-route {
  .ar-card {
    .arc-form {
      margin-top: var(--mantine-spacing-md);

      .arcf-inputs {
        display: flex;
        flex-direction: column;
        gap: var(--mantine-spacing-xs);
      }

      .arcf-actions {
        display: flex;
        flex-direction: column;
        gap: var(--mantine-spacing-xs);
        margin-top: var(--mantine-spacing-xl);
      }
    }
  }
}
